{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Entrar no MyGames{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card  auth-card">
            <div class="card-body">
                <h4 class="card-title text-center">Entrar no MyGames</h4>
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}">
        
                    {{ form|crispy }}
                    <br>
                    <button type="submit" class="btn btn-primary w-100">Entrar</button>
                </form>
                <p class="change-form-p">Não possui uma conta? <a href="/accounts/register">se cadastrar</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}